:root {
--accent-color: #2196F3;
--nav-color: #212121;
--text-color: #757575;
--logo-color:#000000 ;
--primary-acecnt-color: #FFFFFF;
--title-color: #212121;
--background-color: #F5F4FA ;
--footer-color: #2F303A;
--broder-header-color: #ECECEC;
--border-portfolio-color: #E0E0E0;
--footer-addres-color: #FFFFFF99;
}

:root {
--logo-font: 'Raleway', sans-serif;
--main-font: 'Roboto', sans-serif;
}

body {
font-family: var(--main-font);
color: var(--text-color);
background-color: var(--background-color);
}